
<div class="container">

  <form #form ="ngForm" (ngSubmit)= "onSubmit(form)">

    <div class="form-group">
      <label for="fname">First Name: </label>
      <input id="fname" name="fname" class="form-control" placeholder="First name" type="text" ngModel
      required
      />
    </div>

    <div class="form-group">
      <label for="lname">Last Name: </label>
      <input id="lname" name="lname" class="form-control" placeholder="Last name" type="text" ngModel
      required
      />
    </div>

    <div class="form-group">
      <label for="email">Email: </label>
      <input id="email" name="email" class="form-control" placeholder="Email" type="email" ngModel
      required
      />
    </div>

    <div class="form-group">
      <label for="contact">Contact number: </label>
      <input id="contact" name="contact" class="form-control" placeholder="Contact number" type="text" ngModel
      required
      />
    </div>

    <div class="form-group">
      <label for="address">Address: </label>
      <textarea id="address" name="address" class="form-control" placeholder="Address" type="text" ngModel
      required
      ></textarea>
    </div>

    <div class="form-group">
      <label for="username">Username: </label>
      <input id="username" name="username" class="form-control" placeholder="username" type="text" ngModel
      required
      />
    </div>

    <div class="form-group">
      <label for="password">Password: </label>
      <input id="password" name="password" class="form-control" placeholder="password" type="password" ngModel
      required
      />
    </div>

    <p>Gender: </p>
    <div class="form-group">
      <div class="btn-group">
        <label class="btn btn-primary" ngModel name="gender"
              btnRadio="Male" tabindex="0" role="button">Male</label>
        <label class="btn btn-primary" ngModel name="gender"
              btnRadio="Female" tabindex="0" role="button">Female</label>
      </div>
    </div>

    <div class="form-group">
      <label for="qualification">Qualification: </label>
      <select class="form-control" name= "qualification" id="qualification" ngModel>
        <option *ngFor = 'let qual of qualification | async'>
          {{qual}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="experience">Experience: </label>
      <select class="form-control" name= "experience" id="experience" ngModel>
        <option *ngFor = 'let exp of experience | async'>
          {{exp}}
        </option>
      </select>
    </div>

    <p>Coding Languages:</p>
    <div class="form-check form-group">
      <input class="form-check-input" type="checkbox" value="" id="code1" name="code1" ngModel>
      <label class="form-check-label" for="code1" >
       C/C++
      </label>
    </div><div class="form-check form-group">
      <input class="form-check-input" type="checkbox" value="" id="code2" name="code2" ngModel>
      <label class="form-check-label" for="code2" >
        Java
      </label>
    </div><div class="form-check form-group">
      <input class="form-check-input" type="checkbox" value="" id="code3" name="code3" ngModel>
      <label class="form-check-label" for="code3" >
        C#
      </label>
    </div><div class="form-check form-group">
      <input class="form-check-input" type="checkbox" value="" id="code4" name="code4" ngModel>
      <label class="form-check-label" for="code4" >
        PHP
      </label>
    </div><div class="form-check form-group">
      <input class="form-check-input" type="checkbox" value="" id="code5" name="code5" ngModel>
      <label class="form-check-label" for="code5" >
        Python
      </label>
    </div>


    <button class="btn btn-primary">Submit</button>
  </form>
</div>


